@import url(../../rules.css);
@import url(../../../UtilityCSS/utility.css);

.question-container {
  margin: 5rem;
}

.question-box {
 
  width: 55%;
}

.question {
  margin: 4rem;
  font-size: 3rem;
}

.options-container {
  margin: 1rem;
}

.option {
  margin: 1rem 3rem;
  cursor: pointer;
  height: 8rem;
  width: 92%;
  font-size: 2.5rem;
  color: var(--text-color);
  padding: 6px 8px;

  border: 1px solid var(--card-background);
  border-radius: 3rem;
  background-color: #1f2937;
}

.quit-btn,
.next-btn {
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 2rem;
  cursor: pointer;
}

.quit-btn:hover {
  color: var(--hard-color);
}

.next-btn:hover {
  color: var(--medium-color);
}
.text-grey {
  color: var(--grey-color);
}

.text-white {
  color: var(--text-color);
}

.option:hover {
  filter: brightness(0.9);
}
